<!doctype html>
<html>
<head>
	<title>Movies Database</title>
	<link rel='stylesheet' href='css/moviesDBstyle.css' type='text/css'/>
</head>
<body>
	{{{body}}}
	<script type="text/javascript" src="moviesDB.js"></script>
</body>
</html>
